<script setup lang="ts">
import { fabric } from 'fabric'
import { ICircleOptions, IEvent } from 'fabric/fabric-impl'

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
let canvas = new fabric.Canvas(null)

const baseLineLength = 150
const baseTriangleLength = 15
const baseArrowHeight = 30
const baseStrokeWidth = 1

// const originalRender = fabric.Object.prototype.render;
// fabric.Object.prototype.render = function (ctx) {
//   if (this.type === 'group') {
//     console.log(this)
//     this._objects[1].height = baseTriangleLength
//     this._objects[1].width = baseArrowHeight
//     // this.dirty = false
//     originalRender.call(this, ctx)
//     // this.drawObject(ctx)
//     // ctx.restore()
//   } else {
//     originalRender.call(this, ctx)
//   }
// }

onMounted(() => {
  if (canvasRef.value !== null) {
    canvas = new fabric.Canvas(canvasRef.value, {
      centeredScaling: false,
      width: 900,
      height: 1200,
      backgroundColor: '#fff',
    })
    canvas.on('object:scaling', update)
    // canvas.on('object:modified', update)
  }
})

let arrow: fabric.Group | null = null

let scalefactorX = 1
let scalefactorY = 1

const addCircle = () => {
  const line = new fabric.Line([0, 0, baseLineLength, 0], {
    left: 0,
    top: baseArrowHeight / 2,
    stroke: 'red',
    strokeUniform: false,
    strokeWidth: baseStrokeWidth,
    objectCaching: false,
    centeredScaling: false,
    centeredRotation: false,
  })

  const triangle = new fabric.Triangle({
    width: baseArrowHeight,
    height: baseTriangleLength,
    fill: 'red',
    left: baseLineLength + baseTriangleLength,
    top: 0,
    angle: 90,
    objectCaching: false,
    centeredScaling: false,
    centeredRotation: false,
  })

  arrow = new fabric.Group([line, triangle], {
    objectCaching: false,
    centeredScaling: false,
    centeredRotation: false,
  })
  arrow.shadow = new fabric.Shadow({
    blur: 5,
    offsetX: 5,
    offsetY: 5,
    color: '#000',
  })
  canvas.add(arrow)
  canvas.centerObject(arrow)
  canvas.renderAll()
}

let line: fabric.Line | null = null

const addLine = () => {
  if (line === null) {
    line = new fabric.Line([0, 0, 10, 0], {
      strokeWidth: 3,
      stroke: '#000000',
    })
    canvas.add(line)
    canvas.centerObject(line)
    canvas.renderAll()
    console.log(line)
  } else {
    line.set({
      x1: 0,
      y1: 0,
      x2: 20,
      y2: 0,
      left: line.left,
      top: line.top,
    })
    // line.x2 = 20
    // line.width = 20
    // line.lineCoords.br.x = line.lineCoords.br.x + 10
    // line.lineCoords.tr.x = line.lineCoords.tr.x + 10
    // line.setCoords()
    // line.dirty = true
    canvas.renderAll()
    console.log(line)
  }
}

const selectedHandler = (obj: IEvent) => {
  // console.log(obj.transform?.target)
  // obj.transform.target._objects[1].height = baseArrowHeight
  // obj.transform.target._objects[1].width = 15
  // canvas.renderAll()
  // console.log(obj.transform?.target.scaleX, obj.transform?.target.scaleY)
  // update()
}

let lineLength = baseLineLength
let triangleLength = 15
let strokeWidth = baseStrokeWidth

const update = (e: IEvent) => {
  if (!e.target || !e.target.scaleX || !e.target.scaleY) {
    return
  }

  scalefactorX = e.target.scaleX
  scalefactorY = e.target.scaleY

  lineLength = lineLength * scalefactorX
  triangleLength = 15
  strokeWidth = strokeWidth * scalefactorY;

  const startLine = -(e.target.width ?? 0) / 2;
  (<fabric.Line>(<fabric.Group>e.target)._objects[0]).set({
    x1: 0,
    y1: 0,
    x2: lineLength - baseTriangleLength,
    y2: 0,
    left: startLine,
  });

  (<fabric.Group>e.target)._objects[1].width = baseArrowHeight;
  (<fabric.Group>e.target)._objects[1].height = triangleLength;
  (<fabric.Group>e.target)._objects[1].left = startLine + lineLength

  e.target.set({
    scaleX: 1,
    scaleY: 1,
    left: e.target.left,
    top: e.target.top,
    width: lineLength + baseTriangleLength,
  })
  canvas.renderAll()
}

</script>

<template>
  <button @click.prevent="addCircle">Add Arrow</button>
  <button @click.prevent="addLine">Add Line</button>
  <canvas ref="canvasRef"></canvas>
</template>