<script lang="ts" setup>
import { ref } from 'vue'
import ColorPicker from '@mcistudio/vue-colorpicker'
import '@mcistudio/vue-colorpicker/dist/style.css'

  const color = ref({
    red: 255,
    green: 0,
    blue: 0,
    alpha: 1,
  })

  const gradientColort = {
    type: 'linear',
    degree: 0,
    points: [
      {
        id: '81bcb3a0-00b9-4a26-bfc7-2b261722de02',
        left: 0,
        red: 0,
        green: 0,
        blue: 0,
        alpha: 1,
      },

      {
        id: 'a5d144fb-9ab5-40b3-9beb-e79161c5f546',
        red: 0,
        green: 153,
        blue: 255,
        alpha: 1,
        left: 32.25806451612903,
      },
      {
        id: 'b1bc25ad-7273-4bd8-ad22-d5d11cab0f55',
        red: 0,
        green: 153,
        blue: 255,
        alpha: 1,
        left: 68.95161290322581,
      },
      {
        id: 'd6c7ccb8-b1c4-4470-8b73-ee0b56739421',
        left: 97.1774193548387,
        red: 255,
        green: 0,
        blue: 63,
        alpha: 1,
      },
    ],
  }

  const onChange = (color) => {
    // The results of solid and gradient are different
    //   color like:
    // {
    //     "style": "rgba(142, 59, 59, 1)",
    //     "color": {
    //         "red": 142,
    //         "green": 59,
    //         "blue": 59,
    //         "hue": 0,
    //         "alpha": 1
    //     }
    // }

    // gradient like:
    //   {
    //     "style": "linear-gradient(0deg,rgba(0, 0, 0, 1) 0%,rgba(0, 255, 63, 1) 37.096774193548384%,rgba(255, 0, 0, 1) 100%)",
    //     "gradient": {
    //         "type": "linear",
    //         "degree": 0,
    //         "points": [
    //             {
    //                 "id": "cf3647eb-6b59-4a34-90dc-bfd7f5383582",
    //                 "left": 0,
    //                 "red": 0,
    //                 "green": 0,
    //                 "blue": 0,
    //                 "alpha": 1
    //             },
    //             {
    //                 "id": "bf44fa8b-d7ea-4f8e-a154-1be6aa88c3bc",
    //                 "left": 100,
    //                 "red": 255,
    //                 "green": 0,
    //                 "blue": 0,
    //                 "alpha": 1
    //             },
    //             {
    //                 "id": "2974991d-1dac-40e6-a5c7-fc3a0761189b",
    //                 "red": 0,
    //                 "green": 255,
    //                 "blue": 63,
    //                 "alpha": 1,
    //                 "left": 37.096774193548384
    //             }
    //         ]
    //     }
    // }
    console.log(color)
  }
</script>

<template>
  <div id="app" :style="{ display: 'flex', textAlign: 'center' }">
    <div>
      <ColorPicker @colorChanged="onChange" />
    </div>
  </div>
</template>
