<script setup lang="ts">
import { fabric } from 'fabric'

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)

const wigth = ref(800)
const height = ref(800)
const background = ref('#F3FBFF')

let canvas: fabric.Canvas | null = null

fabric.Object.prototype.controls.mt.render = function (ctx: CanvasRenderingContext2D, left: number, top: number, _styleOverride: any, object: fabric.Object) {
  fabric.Object.prototype.controls.mt.sizeX = object.getScaledWidth()
  fabric.Object.prototype.controls.mt.sizeY = 2
  ctx.save()
  ctx.translate(left, top)
  ctx.rotate(fabric.util.degreesToRadians(object.angle ?? 0))
  ctx.rect(-object.getScaledWidth() / 2, -1, object.getScaledWidth() / 2, 1)
  ctx.fill()
  ctx.restore()
}

onMounted(() => {
  document.addEventListener('mousewheel', (e) => {
    console.log('document', e)
  })
  window.addEventListener('mousewheel', (e) => {
    console.log('window', e)
  })
  if (canvasRef.value !== null) {
    canvas = new fabric.Canvas(canvasRef.value, {
      width: wigth.value,
      height: height.value,
      backgroundColor: background.value,
      fireRightClick: true,
      stopContextMenu: true,
    })
    canvas.renderAll();
  }
})

let lastRect: fabric.Rect | null = null
const addImageInPath2 = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      const rect = new fabric.Rect({
        width: imgObj.width,
        height: imgObj.height,
      })
      rect.fill = new fabric.Pattern({
        source: imgObj,
        repeat: 'no-repeat',
      })
      if (canvas !== null) {
        canvas.centerObject(rect);
        canvas.add(rect);
        canvas.renderAll();
        lastRect = rect
      }
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}

</script>

<template>
  <div style="position: relative; /*left: 30px; top: 50px;*/">
    <canvas ref="canvasRef"></canvas>
  </div>
  <br />
  <label>path2</label>
  <input type="file" @change="addImageInPath2" />
  <br />
</template>