<script setup lang="ts">
import { fabric } from 'fabric'
import { ICircleOptions, IEvent } from 'fabric/fabric-impl'

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)

const wigth = ref(800)
const height = ref(800)
const background = ref('#F3FBFF')

let canvas: fabric.Canvas | null = null
// fabric.Object.prototype.controls.

onMounted(() => {
  if (canvasRef.value !== null) {
    canvas = new fabric.Canvas(canvasRef.value, {
      // centeredScaling: true,
      width: wigth.value,
      height: height.value,
      backgroundColor: background.value,
      fireRightClick: true,
      stopContextMenu: true,
    })
    canvas.renderAll();
  }
})

let lastRect: fabric.Rect | null = null
const addImageInPath2 = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      let hc = document.createElement("canvas")
      const img = new fabric.Image(imgObj)
      let fc = new fabric.Canvas(hc, {
        width: imgObj.width,
        height: imgObj.height,
      })
      fc.add(img)
      fc.centerObject(img)
      fc.renderAll();
      let dataurl = fc.toDataURL({ format: 'png' })
      var imgObj2 = new Image();
      imgObj2.src = dataurl;
      imgObj2.onload = function () {
        const rect = new fabric.Rect({
          width: imgObj2.width,
          height: imgObj2.height,
          objectCaching: false,
          scaleX: 2,
          scaleY: 2,
        })
        rect.fill = new fabric.Pattern({
          source: imgObj2,
          repeat: 'no-repeat',
          offsetX: 50,
          offsetY: 50,
        })
        if (canvas !== null) {
          canvas.centerObject(rect);
          canvas.add(rect);
          canvas.renderAll();
          lastRect = rect
          toggleCrop()
        }
      }
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}

const crop = ref(false)
let cropRect: fabric.Rect | null = null
const toggleCrop = () => {
  if (lastRect === null) {
    return
  }
  crop.value = !crop.value
  if (crop.value) {
    const bluredImg = new fabric.Image((<fabric.Pattern>lastRect.fill).source, {
      filters: [ new fabric.Image.filters.BlendColor({ color: '#fff', mode: 'multiply', alpha: 0.2 }) ],
    })
    cropRect = new fabric.Rect({
      width: (<HTMLImageElement>(<fabric.Pattern>lastRect.fill).source).width,
      height: (<HTMLImageElement>(<fabric.Pattern>lastRect.fill).source).height,
      left: (lastRect.left ?? 0) + ((<fabric.Pattern>lastRect.fill).offsetX ?? 0) * (lastRect.scaleX ?? 1),
      top: (lastRect.top ?? 0) + ((<fabric.Pattern>lastRect.fill).offsetY ?? 0) * (lastRect.scaleY ?? 1),
      scaleX: lastRect.scaleX,
      scaleY: lastRect.scaleY,
      selectable: false,
      evented: false,
      fill: new fabric.Pattern({
        source: <HTMLImageElement>bluredImg.getElement(),
        repeat: 'no-repeat',
      }),
    })
    canvas?.add(cropRect)
    cropRect.moveTo(0)
    canvas?.renderAll()
    canvas?.on("object:scaling", function (e) {
      if (!e.target || !cropRect) {
        return
      }
      const cropMatrix = cropRect.calcTransformMatrix()
      const cropBoundingRect = {
        width: cropRect.width ?? 0,
        height: cropRect.height ?? 0,
        left: cropMatrix[4] - ((cropRect.width ?? 0) * (e.target.scaleX ?? 1)) / 2,
        top: cropMatrix[5] - ((cropRect.height ?? 0) * (e.target.scaleY ?? 1)) / 2,
      };
      const sp = e.target.getPointByOrigin('left', 'top')
      const tp = fabric.util.rotatePoint(sp, { x: cropMatrix[4], y: cropMatrix[5] }, -e.target.angle * (Math.PI / 180))
      const targetBoundingRect = {
        wigth: e.target.width ?? 0,
        height: e.target.height ?? 0,
        left: tp.x,
        top: tp.y,
      };
      const newWidth = (e.target.width ?? 0) * (e.target.scaleX ?? 1) / (cropRect.scaleX ?? 1)
      const newHeight = (e.target.height ?? 0) * (e.target.scaleY ?? 1) / (cropRect.scaleY ?? 1)
      // if (newWidth <= cropBoundingRect.width) {
        e.target.width = newWidth
      // } else {
      //   e.target.left = cropBoundingRect.left
      // }
      // if (newHeight <= cropBoundingRect.height) {
        e.target.height = newHeight
      // } else {
      //   e.target.top = cropBoundingRect.top
      // }
      e.target.scaleX = cropRect.scaleX
      e.target.scaleY = cropRect.scaleY;
      (<fabric.Pattern>e.target.fill).offsetX = (cropBoundingRect.left - targetBoundingRect.left - 1) / (e.target.scaleX ?? 1);
      (<fabric.Pattern>e.target.fill).offsetY = (cropBoundingRect.top - targetBoundingRect.top - 1) / (e.target.scaleY ?? 1);
      canvas?.renderAll()
    })
    canvas?.on("object:moving", function (e) {
      if (!e.target || !cropRect) {
        return
      }
      // console.log(lastRect?.fill, lastRect?.fillRule)
      const cropMatrix = cropRect.calcTransformMatrix()
      const cropBoundingRect = {
        width: cropRect.width ?? 0,
        height: cropRect.height ?? 0,
        left: cropMatrix[4] - ((cropRect.width ?? 0) * (e.target.scaleX ?? 1)) / 2,
        top: cropMatrix[5] - ((cropRect.height ?? 0) * (e.target.scaleY ?? 1)) / 2,
      };
      const sp = e.target.getPointByOrigin('left', 'top')
      const tp = fabric.util.rotatePoint(sp, { x: cropMatrix[4], y: cropMatrix[5] }, -e.target.angle * (Math.PI / 180))
      const targetBoundingRect = {
        width: e.target.width ?? 0,
        height: e.target.height ?? 0,
        left: tp.x,
        top: tp.y,
      };
      // console.log(cropBoundingRect.left, cropRect.left);
      // if ((e.target.left ?? 0) < cropBoundingRect.left) {
      //   e.target.left = cropBoundingRect.left
      // }
      // if ((e.target.top ?? 0) < cropBoundingRect.top) {
      //   e.target.top = cropBoundingRect.top
      // }
      // if (((e.target.left ?? 0) + (e.target.width ?? 0)) > (cropBoundingRect.left + cropBoundingRect.width)) {
      //   e.target.left = cropBoundingRect.left + cropBoundingRect.width - (e.target.width ?? 0)
      // }
      // if (((e.target.top ?? 0) + (e.target.height ?? 0)) > (cropBoundingRect.top + cropBoundingRect.height)) {
      //   e.target.top = cropBoundingRect.top + cropBoundingRect.height - (e.target.height ?? 0)
      // }
      (<fabric.Pattern>e.target.fill).offsetX = (cropBoundingRect.left - targetBoundingRect.left - 1) / (e.target.scaleX ?? 1);
      (<fabric.Pattern>e.target.fill).offsetY = (cropBoundingRect.top - targetBoundingRect.top - 1) / (e.target.scaleY ?? 1);
      canvas?.renderAll()
    })
  }
}

</script>

<template>
  <div style="position: relative; /*left: 30px; top: 50px;*/">
    <canvas ref="canvasRef"></canvas>
  </div>
  <br />
  <label>path2</label>
  <input type="file" @change="addImageInPath2" />
  <br />
  <button @click="toggleCrop">toggle crop</button>
  <br />
</template>