<script setup lang="ts">
import { fabric } from 'fabric'
import { ICircleOptions, IEvent } from 'fabric/fabric-impl'

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)

const wigth = ref(2000)
const height = ref(2000)
const background = ref('#F3FBFF')

let canvas: fabric.Canvas | null = null
// fabric.Object.prototype.controls.

onMounted(() => {
  if (canvasRef.value !== null) {
    canvas = new fabric.Canvas(canvasRef.value, {
      // centeredScaling: true,
      width: wigth.value,
      height: height.value,
      backgroundColor: background.value,
      fireRightClick: true,
      stopContextMenu: true,
    })
    const text = new fabric.Textbox('Text', {
      // stroke: '#000000',
      // strokeWidth: 10,
      // borderColor: '#000000',
      // border
      backgroundColor: 'red',
    })
    canvas.centerObject(text);
    canvas.add(text);
    canvas.renderAll();
  }
})

const addImage = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      if (canvas !== null) {
        const rect = new fabric.Rect({
          width: imgObj.width,
          height: imgObj.height,
          fill: new fabric.Pattern({
            source: imgObj, //imgObj,
            repeat: 'no-repeat',
          }),
        })
        canvas.centerObject(rect);
        canvas.add(rect);
        canvas.renderAll();
        // canvas.setZoom(0.5);
      }
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}

const addImageWithRoundedBorders = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      if (canvas !== null) {
        const rect = new fabric.Rect({
          width: imgObj.width,
          height: imgObj.height,
          rx: 1000,
          ry: 1000,
          fill: new fabric.Pattern({
            source: imgObj, //imgObj,
            repeat: 'no-repeat',
          }),
        })
        canvas.centerObject(rect);
        canvas.add(rect);
        canvas.renderAll();
      }
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}

const divData = ref({
  visible: false,
  left: 0,
  top: 0,
})
const addImageInPath = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      // fabric.loadSVGFromString(
      //   '<svg width="55" height="49" viewBox="0 0 55 49" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.316 48.3942L4.36451 25.4428C0.354549 21.4328 -1.03147 15.4942 0.789122 10.1234C4.16289 0.170822 16.5025 -3.25564 24.5248 3.5325L27.316 5.89423L30.1071 3.53251C38.1294 -3.25563 50.4691 0.170821 53.8428 10.1234C55.6634 15.4942 54.2774 21.4328 50.2674 25.4427L27.316 48.3942Z" /></svg>',
      //   (objects, options) => {
      //     const img = new fabric.Image(imgObj, {
      //       filters: [ new fabric.Image.filters.Sepia() ],
      //     })
      //     const rect = fabric.util.groupSVGElements(objects, options)
      //     rect.fill = new fabric.Pattern({
      //       source: <HTMLImageElement>img.getElement(), //imgObj,
      //       repeat: 'no-repeat',
      //     })
      //     rect.opacity = 0.5
      //     if (canvas !== null) {
      //       canvas.centerObject(rect);
      //       canvas.add(rect);
      //       canvas.renderAll();
      //     }
      //   }
      // )
      fabric.loadSVGFromString(
        '<svg width="360" height="360" viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M 0 0 A 0 0 0 0 0 0 0 L 180 360 A 0 0 0 0 0 180 360 L 360 0 A 0 0 0 0 0 360 0 Z"/></svg>',
        (objects, options) => {
          const img = new fabric.Image(imgObj, {
            filters: [ new fabric.Image.filters.Sepia() ],
            // angle: 90,
            scaleX: 2,
            scaleY: 2,
          })
          let hc = document.createElement("canvas")
          document.querySelector('body')?.appendChild(hc)
          let fc = new fabric.Canvas(hc, {
            width: imgObj.width,
            height: imgObj.height,
          })
          fc.add(img)
          fc.setDimensions({
            width: img.getBoundingRect().width,
            height: img.getBoundingRect().height,
          })
          // img.set('left', 0)
          // img.set('top', 0)
          // img.setCoords()
          fc.centerObject(img)
          fc.renderAll();
          let dataurl = fc.toDataURL((e.target as HTMLInputElement).files?.[0].type)
          var imgObj2 = new Image();
          imgObj2.src = dataurl;
          imgObj2.onload = function () {
            fabric.loadSVGFromString(
              '<svg width="360" height="360" viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M 0 0 A 0 0 0 0 0 0 0 L 180 360 A 0 0 0 0 0 180 360 L 360 0 A 0 0 0 0 0 360 0 Z"/></svg>',
              (objects, options) => {
                const rect = fabric.util.groupSVGElements(objects, options)
                rect.fill = new fabric.Pattern({
                  source: imgObj2, //imgObj,
                  repeat: 'no-repeat',
                })
                rect.opacity = 0.5
                if (canvas !== null) {
                  canvas.centerObject(rect);
                  canvas.add(rect);
                  // canvas.centerObject(img);
                  // canvas.add(img);
                  canvas.renderAll();
                  rect.on('mousedown', (e) => {
                    console.log(e)
                    divData.value.visible = true
                    divData.value.left = e.absolutePointer?.x ?? 0
                    divData.value.top = e.absolutePointer?.y ?? 0
                  })
                }
              }
            )
          }
        }
      )
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}
const addImageInPath2 = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      fabric.loadSVGFromString(
        '<svg width="360" height="360" viewBox="0 0 360 360" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M 0 0 A 0 0 0 0 0 0 0 L 180 360 A 0 0 0 0 0 180 360 L 360 0 A 0 0 0 0 0 360 0 Z"/></svg>',
        (objects, options) => {
          const img = new fabric.Image(imgObj, {
            filters: [ new fabric.Image.filters.Sepia() ],
          })
          img.set('scaleX', 2)
          img.set('scaleY', 2)
          const rect = fabric.util.groupSVGElements(objects, options)
          rect.fill = new fabric.Pattern({
            source: <HTMLImageElement>img.getElement(), //imgObj,
            repeat: 'no-repeat',
          })
          rect.opacity = 0.5
          if (canvas !== null) {
            canvas.centerObject(rect);
            canvas.add(rect);
            canvas.renderAll();
            rect.on('mousedown', (e) => {
              console.log(e)
              divData.value.visible = true
              divData.value.left = e.absolutePointer?.x ?? 0
              divData.value.top = e.absolutePointer?.y ?? 0
            })
          }
        }
      )
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}

</script>

<template>
  <div style="position: relative; /*left: 30px; top: 50px;*/">
    <canvas ref="canvasRef"></canvas>
    <div v-if="divData.visible" :style="{ position: 'absolute', left: divData.left + 'px', top: divData.top + 'px', color: 'red', width: '300px', height: '100px' }"></div>
  </div>
  <br />
  <label>simple</label>
  <input type="file" @change="addImage" />
  <br />
  <label>rounded</label>
  <input type="file" @change="addImageWithRoundedBorders" />
  <br />
  <label>path</label>
  <input type="file" @change="addImageInPath" />
  <br />
  <label>path2</label>
  <input type="file" @change="addImageInPath2" />
  <br />
</template>