<script setup lang="ts">
import { fabric } from 'fabric'

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)

const wigth = ref(1000)
const height = ref(1000)
const background = ref('#fff')

let canvas: fabric.Canvas | null = null

onMounted(() => {
  if (canvasRef.value !== null) {
    canvas = new fabric.Canvas(canvasRef.value, {
      // centeredScaling: true,
      width: wigth.value,
      height: height.value,
      backgroundColor: background.value,
    })
    // canvas.on('object:modified', (e: fabric.IEvent) => {
    //   if (e.target?.clipPath !== undefined) {
    //     // e.target.clipPath.dirty = true
    //     // e.target.clipPath.set({
    //     //   // width: 10 * (e.target.scaleX ?? 1),
    //     //   // height: 10 * (e.target.scaleY ?? 1),
    //     //   width: 10,
    //     //   height: 10,
    //     //   scaleX: e.target.scaleX,
    //     //   scaleY: e.target.scaleY,
    //     // })
    //     // e.target.clipPath.setCoords()
    //     // canvas?.renderAll()
    //     e.target.clipPath.scaleToWidth(10 * (e.target.scaleX ?? 1))
    //     e.target.clipPath.scaleToHeight(10 * (e.target.scaleY ?? 1))
    //   }
    //   console.log(e.target?.clipPath)
    // })
  }
})

const addCircle = () => {
  if (canvas !== null) {
    var color = Math.floor(Math.random() * 16777216).toString(16)
    const test = new fabric.Circle({
      radius: 15,
      fill: '#000000'.slice(0, -color.length) + color,
      // objectCaching: false,
    })
    // test.cacheProperties = [ ...test.cacheProperties ?? [], 'clipPath' ]
    canvas.add(test)
    canvas.centerObject(test)
    canvas.renderAll()
  }
}

let text: fabric.IText | null

const addText = () => {
  if (canvas !== null) {
    text = new fabric.Textbox('Текст', {
      textAlign: 'center',
      // objectCaching: false,
    })
    // text.cacheProperties = [ ...text.cacheProperties ?? [], 'height', 'clipPath' ]
    canvas.add(text)
    canvas.centerObject(text)
    canvas.renderAll()
  }
}

const cut = () => {
  // const g = new fabric.Group(canvas?.getObjects(), {
  //   clipPath: new fabric.Rect({
  //     // width: 10 * (object.scaleX ?? 1),
  //     // height: 10 * (object.scaleY ?? 1),
  //     width: 100,
  //     height: 100,
  //     left: 0,
  //     top: 0,
  //     objectCaching: false,
  //     rx: 500,
  //     ry: 500,
  //     absolutePositioned: true,
  //   })
  // })
  canvas?.getObjects().forEach((object) => {
    object.clipPath = new fabric.Rect({
      // width: 10 * (object.scaleX ?? 1),
      // height: 10 * (object.scaleY ?? 1),
      width: 1000,
      height: 1000,
      left: 0,
      top: 0,
      objectCaching: false,
      rx: 500,
      ry: 500,
      absolutePositioned: true,
    })
    // object.setCoords()
    object.dirty = true
    // console.log(object)
    canvas?.renderAll()
  })
}

</script>

<template>
  <div style="background-color: brown;padding: 30px;">
    <button @click.prevent="addCircle">Add Circle</button>
    <button @click.prevent="addText">Add Text</button>
    <button @click.prevent="cut">Cut</button>
    <br />
    <canvas ref="canvasRef"></canvas>
  </div>
</template>