<script setup lang="ts">
import { fabric } from 'fabric'
import { ImageObject } from '~/utils/Image'

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)

var deleteIcon = "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.275px' height='595.275px' viewBox='200 215 230 470' xml:space='preserve'%3E%3Ccircle style='fill:%23F44336;' cx='299.76' cy='439.067' r='218.516'/%3E%3Cg%3E%3Crect x='267.162' y='307.978' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -222.6202 340.6915)' style='fill:white;' width='65.545' height='262.18'/%3E%3Crect x='266.988' y='308.153' transform='matrix(0.7071 0.7071 -0.7071 0.7071 398.3889 -83.3116)' style='fill:white;' width='65.544' height='262.179'/%3E%3C/g%3E%3C/svg%3E";

var img = document.createElement('img');
img.src = deleteIcon;
fabric.Object.prototype.controls.mtr.withConnection = false
fabric.Object.prototype.controls.mtr.cornerSize = 24
fabric.Object.prototype.controls.mtr.render = function renderIcon(ctx, left, top, styleOverride, fabricObject) {
  var size = this.cornerSize;
  ctx.save();
  ctx.translate(left, top);
  ctx.rotate(fabric.util.degreesToRadians(fabricObject.angle));
  ctx.drawImage(img, -size/2, -size/2, size, size);
  ctx.restore();
}

const wigth = ref(612)
const height = ref(612)
const zoom = 1
const background = ref('#F3FBFF')

let canvas: fabric.Canvas | null = null
let activeObj: fabric.Object | null = null

const originalToObject = fabric.Object.prototype.toObject;
fabric.Object.prototype.toObject = function (additionalProperties: string[]) {
    return originalToObject.call(this, [ 'selectable', 'evented' ].concat(additionalProperties));
}

onMounted(() => {
  if (canvasRef.value !== null) {
    fabric.util.loadImage('http://localhost:3000/home-img-1.jpg', function (img) {
      canvas = new fabric.Canvas(canvasRef.value, {
        // centeredScaling: true,
        width: wigth.value,
        height: height.value,
        // backgroundColor: background.value,
        // backgroundImage: new fabric.Image(img, {}),
        backgroundColor: new fabric.Pattern({
          source: img,
          repeat: 'repeat'
        }),
      })
      canvas.setZoom(zoom)
    })
  }
})

const circles: globalThis.Ref<fabric.Circle[]> = ref([])

const addCircle = () => {
  if (canvas !== null) {
    var color = Math.floor(Math.random() * 16777216).toString(16)
    const test = new fabric.Circle({
      radius: 15,
      fill: '#000000'.slice(0, -color.length) + color,
    })
    canvas.add(test)
    canvas.centerObject(test)
    circles.value.push(test)
    const triangle = new fabric.Triangle({
      width: 10,
      height: 15,
      fill: 'red',
      left: 235,
      top: 65,
      angle: 90,
      lockScalingX: true,
    })

    const line = new fabric.Line([50, 100, 200, 100], {
        left: 75,
        top: 70,
        stroke: 'red',
        strokeUniform: false,
    })

    const arrow = new fabric.Group([line, triangle])
    canvas.add(arrow)
    canvas.centerObject(arrow)
    canvas.renderAll()
  }
}

let text: fabric.IText | null

const addText = () => {
  if (canvas !== null) {
    // const radius = 70
    // const path = new fabric.Path(`M${radius * 2} 0 C${radius * 4} 0, ${radius * 4} ${radius}, ${radius * 2} ${radius} C0 ${radius}, 0 0, ${radius * 2} 0Z`, {
    //   opacity: 0,
    //   // width: 1000,
    //   // height: 1000,
    // })
    text = new fabric.Textbox('2mp, 5mp, 8mp 2048px', {
      // path: path,
      // width: 200,
      textAlign: 'center',
      // width: 1000,
      // height: 1000,
      // fontWeight: 'bold',
      // fontStyle: 'italic',
      // underline: true,
      // linethrough: true,
      // selectionStart: 0,
      // selectionEnd: 5,
    })
    // text.set({
    //   width: 1000,
    // })
    // text.set({
    //   height: 1000,
    // })
    console.log(text.fontSize)
    text.cacheProperties = [ ...text.cacheProperties ?? [], 'height' ]
    canvas.add(text)
    canvas.centerObject(text)
    canvas.setActiveObject(text)
    // text.enterEditing().selectAll()
    canvas.renderAll()
  }
}

const addImage = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      fabric.loadSVGFromURL('http://localhost:3000/noun-archive-6119644.svg', function(objects, options){
        var svgData = fabric.util.groupSVGElements(objects, options);
        if (canvas !== null) {
          canvas.add(svgData);
          canvas.centerObject(svgData);
          canvas.renderAll();
        }
      })
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}

const addRectWithImage = (e: Event) => {
  // var reader = new FileReader();
  // reader.onload = function (event) {
  //   fabric.util.loadImage('http://localhost:3000/image.png', function (img) {
  //     const rect = new ImageObject(img)
  //     if (canvas !== null) {
  //       canvas.centerObject(rect.object);
  //       canvas.add(rect.object);
  //       canvas.renderAll();
  //     }
  //   })
  // }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    const img = new Image()
    img.src = URL.createObjectURL(f)
    img.onload = () => {
      const rect = new ImageObject(img)
      if (canvas !== null) {
        canvas.centerObject(rect.object);
        canvas.add(rect.object);
        canvas.renderAll();
        rect.addEvents()
      }
    }
    // reader.readAsDataURL(f);
  }
}

const saveImage = () => {
  if (canvas !== null) {
    canvas.setZoom(1)
    canvas.renderAll()
    const dataURL = canvas.toDataURL({
      width: canvas.width,
      height: canvas.height,
      left: 0,
      top: 0,
      format: 'png',
    });
    const link = document.createElement('a');
    link.download = 'image.png';
    link.href = dataURL;
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    canvas.setZoom(zoom)
    canvas.renderAll()
  }
}

</script>

<template>
  <div :style="'overflow: hidden; width: ' + wigth * zoom + 'px; height: ' + height * zoom + 'px'">
    <canvas ref="canvasRef"></canvas>
  </div>
  <button @click.prevent="addCircle">Add Circle</button>
  <button @click.prevent="addText">Add Text</button>
  <br />
  <label>select image</label>
  <input type="file" @change="addImage" />
  <br />
  <label>addRectWithImage</label>
  <input type="file" @change="addRectWithImage" />
  <br />
  <button @click.prevent="saveImage">saveImage</button>
</template>