<script setup lang="ts">
import { fabric } from 'fabric'
import { ICircleOptions, IEvent } from 'fabric/fabric-impl'

const canvasEl = document.querySelector('canvas')
const canvas = new fabric.Canvas(canvasEl, {
  width: 400,
  height: 300,
})

fabric.Object.prototype.on('dragenter', (event: fabric.IEvent) => {
  console.log(event)
})
fabric.Object.prototype.on('dragleave', (event: fabric.IEvent) => {
  console.log(event)
})

const addText = () => {
  const text = new fabric.Group([new fabric.Textbox('Текст', {
    textAlign: 'center',
  })])
  canvas.add(text)
  canvas.centerObject(text)
  canvas.setActiveObject(text)
  canvas.renderAll()
}

</script>

<template>
  <canvas ref="canvasRef" :style="'border-radius: ' + (wigth / 4) + 'px;'"></canvas>
  <button @click.prevent="addText">Add Text</button>
</template>