<script setup lang="ts">
import { fabric } from 'fabric'
// window.fabric = fabric
// import '~/node_modules/fabric-eraserable/src/mixins/eraser_brush.mixin.ts'
// import { ICircleOptions, IEvent } from 'fabric/fabric-impl'

// const originalCreatePath = fabric.EraserBrush.prototype.createPath
// fabric.EraserBrush.prototype.createPath = function (pathData) {
//   const path = originalCreatePath(pathData);
//   path.globalCompositeOperation = this.inverted ? 'source-over' : 'destination-out';
//   path.stroke = this.inverted ? 'white' : 'black';
//   return path;
// }

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)

const wigth = ref(800)
const height = ref(800)
const background = ref('#F3FBFF')

let canvas: fabric.Canvas | null = null
// console.log(window)
// fabric.Object.prototype.controls.

onMounted(() => {
  if (canvasRef.value !== null) {
    canvas = new fabric.Canvas(canvasRef.value, {
      // centeredScaling: true,
      width: wigth.value,
      height: height.value,
      backgroundColor: background.value,
      fireRightClick: true,
      stopContextMenu: true,
      imageSmoothingEnabled: false,
      // freeDrawingCursor: new fabric.BaseBrush()
    })
    canvas.freeDrawingBrush = new fabric.EraserBrush(canvas);
    canvas.freeDrawingBrush.width = 10
    // canvas.isDrawingMode = true;
    fabric.Object.prototype.erasable = false
    // fabric.util.loadImage('https://front.magvi.dev.startup-it.ru/storage/default/1-prepared.png', (img) => {
    //   const clip = new fabric.Image(img, {
    //     width: img.width,
    //     height: img.height,
    //     scaleX: 400 / img.width,
    //     scaleY: 400 / img.height,
    //     left: -200,
    //     top: -200,
    //   })
    //   const tmp = new fabric.Rect({
    //     width: 400,
    //     height: 400,
    //     clipPath: clip,
    //   })
    //   canvas?.add(tmp)
    //   canvas?.centerObject(tmp)
    //   canvas?.renderAll()
    //   console.log(tmp)
    // })
    // fabric.util.loadImage('https://front.magvi.dev.startup-it.ru/storage/default/1-prepared.png', (img) => {
    //   const tmp = new fabric.Image(img, {
    //     width: 400,
    //     height: 400,
    //     // globalCompositeOperation: 'source-out',
    //   })
    //   canvas?.add(tmp)
    //   canvas?.centerObject(tmp)
    //   canvas?.renderAll()
    // })
    // fabric.Image.fromURL(
    //   'https://dl.dropboxusercontent.com/s/4e90e48s5vtmfbd/aaa.png',
    //   function(image1) {
    //   fabric.Image.fromURL(
    //     'https://upload.wikimedia.org/wikipedia/commons/5/55/John_William_Waterhouse_A_Mermaid.jpg',
    //     function(image2) { // the one to be clipped
    //       canvas?.add(image1);
    //       // canvas?.centerObject(image1);
    //       canvas?.add(image2);
    //       // canvas?.centerObject(image2);
    //       canvas?.renderAll();
    //   }, {
    //     globalCompositeOperation: 'source-in', // will be drawn only where pixels are already drawn
    //     top: -300,
    //     left: -400
    //   });

    // }, {
    //   width: 200,
    //   height: 200
    // });
    canvas.renderAll();
  }
})

let lastRect: fabric.Rect | null = null
const addImageInPath2 = (e: Event) => {
  var reader = new FileReader();
  reader.onload = function (event) {
    var imgObj = new Image();
    imgObj.src = <string>event.target?.result;
    imgObj.onload = function () {
      fabric.util.loadImage('http://localhost:3000/1-prepared.png', (img) => {
        // const tmp = new fabric.Image(img, {
        //   width: img.width,
        //   height: img.height,
        //   scaleX: 400 / img.width,
        //   scaleY: 400 / img.height,
        //   left: -200,
        //   top: -200,
        //   erasable: true,
          // globalCompositeOperation: 'source-over',
          // stroke: 'white',
        // })
        // const tmp = new fabric.Rect({
        //   width: 400,
        //   height: 400,
        //   clipPath: clip,
        // })
        const points: { x: number, y: number }[] = []
        const fc = new fabric.Canvas(document.createElement('canvas'), {
          width: img.width,
          height: img.height,
          isDrawingMode: true,
        })
        const tmpImg = new fabric.Image(img)
        fc.add(tmpImg)
        fc.centerObject(tmpImg)
        fc.renderAll()
        const pixels = fc.getContext().getImageData(0, 0, img.width, img.height)

        for (let i = 0; i < pixels.data.length; i += 4) {
          if (pixels.data[i + 3] !== 0) {
            // points.push({ x: (i / 4) % img.width, y: ~~((i / 4) / img.width) })
            points.push(new fabric.Point((i / 4) % img.width, ~~((i / 4) / img.width)))
          }
        }
        const pb = new fabric.PencilBrush(fc)
        const tmp = pb.createPath(pb.convertPointsToSVGPath(points))
        canvas?.add(tmp)
        // canvas?.centerObject(tmp)
        canvas?.renderAll()
        console.log(tmp)
        // fabric.Eraser.fromObject({ objects: tmp }, (e: fabric.Group) => {
        //   const rect = new fabric.Rect({
        //     width: imgObj.width,
        //     height: imgObj.height,
        //     // clipPath: tmp,
        //     erasable: true,
        //     eraser: e,
        //     // eraser: e.add(tmp),
        //   })
        //   rect.fill = new fabric.Pattern({
        //     source: imgObj,
        //     repeat: 'no-repeat',
        //   })
        //   if (canvas !== null) {
        //     canvas.centerObject(rect);
        //     canvas.add(rect);
        //     canvas.renderAll();
        //     lastRect = rect
        //     // console.log()
        //     // rect.eraser._objects.push(tmp)
        //   }
        // })
      })
    }
  }
  const f = (e.target as HTMLInputElement).files[0]
  if (f !== null) {
    reader.readAsDataURL(f);
  }
}

const toggleEraser = () => {
  canvas.isDrawingMode = !canvas.isDrawingMode;
}

const toggleRestoring = () => {
  canvas.freeDrawingBrush.inverted = !canvas.freeDrawingBrush.inverted
}

const toJson = () => {
  // const keys: string[] = []
  // Object.keys(lastRect.eraser).forEach((key) => {
  //   if (isNaN(parseInt(key))) {
  //     keys.push(key)
  //   }
  // })
  // console.log(keys)
  console.log(lastRect, lastRect.eraser._objects)
}

</script>

<template>
  <div style="position: relative; /*left: 30px; top: 50px;*/">
    <canvas ref="canvasRef"></canvas>
  </div>
  <br />
  <label>path2</label>
  <input type="file" @change="addImageInPath2" />
  <br />
  <button @click="toggleEraser">toggle eraser</button>
  <br />
  <button @click="toggleRestoring">toggle restoring</button>
  <br />
  <button @click="toJson">toJSON</button>
  <br />
</template>