<script setup lang="ts">
import { fabric } from 'fabric'

const canvasRef0: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef1: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef2: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef3: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef4: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef5: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef6: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef7: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef8: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef9: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef10: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef11: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef12: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef13: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef14: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef15: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef16: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef17: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef18: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef19: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef20: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef21: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef22: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef23: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef24: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef25: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef26: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef27: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef28: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef29: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef30: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef31: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef32: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef33: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef34: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef35: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef36: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef37: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef38: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef39: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef40: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef41: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef42: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef43: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef44: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef45: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef46: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef47: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef48: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef49: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef50: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef51: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef52: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef53: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef54: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef55: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef56: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef57: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef58: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef59: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef60: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef61: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef62: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef63: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef64: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef65: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef66: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef67: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const canvasRef68: globalThis.Ref<HTMLCanvasElement | null> = ref(null)

onMounted(() => {
  createCanvas(canvasRef0)
  createCanvas(canvasRef1)
  createCanvas(canvasRef2)
  createCanvas(canvasRef3)
  createCanvas(canvasRef4)
  createCanvas(canvasRef5)
  createCanvas(canvasRef6)
  createCanvas(canvasRef7)
  createCanvas(canvasRef8)
  createCanvas(canvasRef9)
  createCanvas(canvasRef10)
  createCanvas(canvasRef11)
  createCanvas(canvasRef12)
  createCanvas(canvasRef13)
  createCanvas(canvasRef14)
  createCanvas(canvasRef15)
  createCanvas(canvasRef16)
  createCanvas(canvasRef17)
  createCanvas(canvasRef18)
  createCanvas(canvasRef19)
  createCanvas(canvasRef20)
  createCanvas(canvasRef21)
  createCanvas(canvasRef22)
  createCanvas(canvasRef23)
  createCanvas(canvasRef24)
  createCanvas(canvasRef25)
  createCanvas(canvasRef26)
  createCanvas(canvasRef27)
  createCanvas(canvasRef28)
  createCanvas(canvasRef29)
  createCanvas(canvasRef30)
  createCanvas(canvasRef31)
  createCanvas(canvasRef32)
  createCanvas(canvasRef33)
  createCanvas(canvasRef34)
  createCanvas(canvasRef35)
  createCanvas(canvasRef36)
  createCanvas(canvasRef37)
  createCanvas(canvasRef38)
  createCanvas(canvasRef39)
  createCanvas(canvasRef40)
  createCanvas(canvasRef41)
  createCanvas(canvasRef42)
  createCanvas(canvasRef43)
  createCanvas(canvasRef44)
  createCanvas(canvasRef45)
  createCanvas(canvasRef46)
  createCanvas(canvasRef47)
  createCanvas(canvasRef48)
  createCanvas(canvasRef49)
  createCanvas(canvasRef50)
  createCanvas(canvasRef51)
  createCanvas(canvasRef52)
  createCanvas(canvasRef53)
  createCanvas(canvasRef54)
  createCanvas(canvasRef55)
  createCanvas(canvasRef56)
  createCanvas(canvasRef57)
  createCanvas(canvasRef58)
  createCanvas(canvasRef59)
  createCanvas(canvasRef60)
  createCanvas(canvasRef61)
  createCanvas(canvasRef62)
  createCanvas(canvasRef63)
  createCanvas(canvasRef64)
  createCanvas(canvasRef65)
  createCanvas(canvasRef66)
  createCanvas(canvasRef67)
  createCanvas(canvasRef68)
})

const createCanvas = (canvasRef: globalThis.Ref<HTMLCanvasElement | null>) => {
  if (canvasRef.value !== null) {
    const canvas = new fabric.StaticCanvas(canvasRef.value, {
      centeredScaling: true,
      width: 300,
      height: 400,
      backgroundColor: '#F3FBFF',
      interactive: false,
    })
    canvas.loadFromJSON(``, () => {})
  }
}

</script>

<template>
  <div style="display: flex; flex-wrap: wrap;">
    <canvas ref="canvasRef0"></canvas>
    <canvas ref="canvasRef1"></canvas>
    <canvas ref="canvasRef2"></canvas>
    <canvas ref="canvasRef3"></canvas>
    <canvas ref="canvasRef4"></canvas>
    <canvas ref="canvasRef5"></canvas>
    <canvas ref="canvasRef6"></canvas>
    <canvas ref="canvasRef7"></canvas>
    <canvas ref="canvasRef8"></canvas>
    <canvas ref="canvasRef9"></canvas>
    <canvas ref="canvasRef10"></canvas>
    <canvas ref="canvasRef11"></canvas>
    <canvas ref="canvasRef12"></canvas>
    <canvas ref="canvasRef13"></canvas>
    <canvas ref="canvasRef14"></canvas>
    <canvas ref="canvasRef15"></canvas>
    <canvas ref="canvasRef16"></canvas>
    <canvas ref="canvasRef17"></canvas>
    <canvas ref="canvasRef18"></canvas>
    <canvas ref="canvasRef19"></canvas>
    <canvas ref="canvasRef20"></canvas>
    <canvas ref="canvasRef21"></canvas>
    <canvas ref="canvasRef22"></canvas>
    <canvas ref="canvasRef23"></canvas>
    <canvas ref="canvasRef24"></canvas>
    <canvas ref="canvasRef25"></canvas>
    <canvas ref="canvasRef26"></canvas>
    <canvas ref="canvasRef27"></canvas>
    <canvas ref="canvasRef28"></canvas>
    <canvas ref="canvasRef29"></canvas>
    <canvas ref="canvasRef30"></canvas>
    <canvas ref="canvasRef31"></canvas>
    <canvas ref="canvasRef32"></canvas>
    <canvas ref="canvasRef33"></canvas>
    <canvas ref="canvasRef34"></canvas>
    <canvas ref="canvasRef35"></canvas>
    <canvas ref="canvasRef36"></canvas>
    <canvas ref="canvasRef37"></canvas>
    <canvas ref="canvasRef38"></canvas>
    <canvas ref="canvasRef39"></canvas>
    <canvas ref="canvasRef40"></canvas>
    <canvas ref="canvasRef41"></canvas>
    <canvas ref="canvasRef42"></canvas>
    <canvas ref="canvasRef43"></canvas>
    <canvas ref="canvasRef44"></canvas>
    <canvas ref="canvasRef45"></canvas>
    <canvas ref="canvasRef46"></canvas>
    <canvas ref="canvasRef47"></canvas>
    <canvas ref="canvasRef48"></canvas>
    <canvas ref="canvasRef49"></canvas>
    <canvas ref="canvasRef50"></canvas>
    <canvas ref="canvasRef51"></canvas>
    <canvas ref="canvasRef52"></canvas>
    <canvas ref="canvasRef53"></canvas>
    <canvas ref="canvasRef54"></canvas>
    <canvas ref="canvasRef55"></canvas>
    <canvas ref="canvasRef56"></canvas>
    <canvas ref="canvasRef57"></canvas>
    <canvas ref="canvasRef58"></canvas>
    <canvas ref="canvasRef59"></canvas>
    <canvas ref="canvasRef60"></canvas>
    <canvas ref="canvasRef61"></canvas>
    <canvas ref="canvasRef62"></canvas>
    <canvas ref="canvasRef63"></canvas>
    <canvas ref="canvasRef64"></canvas>
    <canvas ref="canvasRef65"></canvas>
    <canvas ref="canvasRef66"></canvas>
    <canvas ref="canvasRef67"></canvas>
    <canvas ref="canvasRef68"></canvas>
  </div>
</template>