<script setup lang="ts">
import { fabric } from 'fabric'
import { ICircleOptions, IEvent } from 'fabric/fabric-impl'

class Editor {
  canvas: fabric.Canvas = new fabric.Canvas(null)
  activeObj: fabric.Object | null = null

  setCanvas(c: HTMLCanvasElement) {
    this.canvas = new fabric.Canvas(c, {
      centeredScaling: true,
      width: 900,
      height: 1200,
      backgroundColor: '#000000',
    })
    this.canvas.on('selection:updated', selectedHandler)
    this.canvas.on('selection:created', selectedHandler)
    this.canvas.on('selection:cleared', selectedHandler)
  }

  // selectedHandler = (obj: IEvent) => {
  //   this.activeObj = obj.selected?.[0] ?? null
  // }
}

const canvasRef: globalThis.Ref<HTMLCanvasElement | null> = ref(null)
const e: globalThis.Ref<Editor> = ref(new Editor())

onMounted(() => {
  if (canvasRef.value !== null) {
    e.value.setCanvas(canvasRef.value)
    // e.value.canvas.on('selection:updated', selectedHandler)
    // e.value.canvas.on('selection:created', selectedHandler)
    // e.value.canvas.on('selection:cleared', selectedHandler)
  }
})

const selectedHandler = (obj: IEvent) => {
  e.value.activeObj = obj.selected?.[0] ?? null
}

const addCircle = () => {
  var color = Math.floor(Math.random() * 16777216).toString(16)
  const test = new fabric.Circle({
    radius: 15,
    fill: '#000000'.slice(0, -color.length) + color,
  })
  e.value.canvas.add(test)
  e.value.canvas.centerObject(test)
  e.value.canvas.renderAll()
}

const log = () => {
  console.log(e.value.activeObj)
}

</script>

<template>
  <canvas ref="canvasRef"></canvas>
  <button @click.prevent="addCircle">Add Circle</button>
  <button @click.prevent="log">Log selected</button>
  {{ e.activeObj?.type }}
</template>